.side-nav-box > a:nth-child(3) {
  background-color: #0d7c66;
  color: #ebe1f8;
  width: 100%;
  border-radius: 11px;
  padding: 0.4rem;
}

.side-nav-box > a:nth-child(3):hover {
  color: #ebe1f8;
}

.nav-hide .side-nav-box > a:nth-child(3) {
  width: auto;
}
/* SECTION MAIN */
/* ************* */
.section-main {
  padding: 5rem 5rem 20rem 5rem;
  flex-direction: column;
}

.expense-heading {
  font-size: 3.4rem;
  text-transform: uppercase;
  color: #0d7c66;
}

.header-btn--icon {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

/* tooltip */
.header-btn--icon::after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 10;
  left: -1rem;
  bottom: 75%;
  transform: translateY(-50%);
  background-color: #444;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  font-size: 14px;
  pointer-events: none;
  white-space: nowrap;
}

.header-btn--icon:hover::after {
  opacity: 1;
  visibility: visible;
}

.header-icon-modal {
  color: #0d7c66;
  font-size: 4rem;
  transition: all 0.3s;
}

.header-icon-modal:hover,
.header-icon-modal:active {
  color: #3d9685;
  transform: scale(1.1);
}

/* DATE FILTER */
/* **************** */

/* ================================
   DATE FILTER – .date-form-box
   ================================ */
.date-form-box {
  display: grid;
  grid-template-columns:
    minmax(15rem, 1fr) /* „From” */
    minmax(15rem, 1fr) /* „To” */
    auto
    auto;
  gap: 1.2rem;
  align-items: center;

  width: 100%;
  margin: 2rem auto;

  padding: 1rem;
  background: #f4f0fa;
  border-radius: 1rem;
}

/* --------------------------------
     Pola formularza (label + input)
     -------------------------------- */
.date-form-box label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
}

.date-form-box select,
.date-form-box input {
  width: 100%;
  height: 100%;

  padding: 1.2rem 1.2rem 1.2rem 4.8rem;
  font-family: inherit;
  font-size: 1.6rem;

  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.date-form-box input[type="date"] {
  padding: 1rem;
  font-size: 1.4rem;
}

#modal-edit-expense *:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(61, 150, 134, 0.5);
}
/* -------------------------------
     Przyciski: Filtr i Wyczyść
     ------------------------------- */
.date-form-box button,
.date-form-box .btn--clean {
  padding: 1rem;
  font-size: 1.4rem;
  white-space: nowrap;
  text-align: center;
  width: 10rem;
}

/* Chart */
/* ****** */

.expense-chart {
  border: solid 1px #f4f0fa;
  border-radius: 1.2rem;
  padding: 1.6rem;
  box-shadow: 0 5px 10px #f4f0fa;
}
.total-box {
  font-size: 2rem;
  background-color: #f4f0fa;
  border-radius: 1.2rem;
  padding: 1.2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* TABLE EXPENSES */
/* ************ */

.btn-box {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.edit--icon {
  color: #003049;
  font-size: 2.5rem;
  transition: all 0.3s;
}

.edit--icon:hover,
.edit--icon:active,
.delete--icon:hover,
.delete--icon:active {
  transform: scale(1.1);
}

.delete--icon {
  color: #d62828;
  font-size: 2.5rem;
  transition: all 0.3s;
}
/* ------------------- */
/* MODAL EDIT expense */

#modal-edit-expense {
  display: none;
}

/* ===========================
  MEDIA
=========================== */

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 430px) {
  .expense-heading {
    width: 100%;
    justify-content: space-between;
    padding: 2rem 3rem;
    background-color: #f4f0fa;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .date-form-box {
    margin-bottom: 8rem;
    margin-top: 8rem;
  }
  .expense-chart {
    margin-bottom: 8rem;
  }
  .table-expense {
    width: 100%;
    table-layout: fixed;
  }
  .table-expense th,
  .table-expense td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .table-expense th:nth-child(1),
  .table-expense td:nth-child(1) {
    width: 12%;
  }

  .table-expense th:nth-child(4),
  .table-expense th:nth-child(5),
  .table-expense td:nth-child(4),
  .table-expense td:nth-child(5) {
    display: none;
  }

  .table-expense th:nth-child(6),
  .table-expense td:nth-child(6),
  .table-expense th:nth-child(7),
  .table-expense td:nth-child(7) {
    width: 15%;
  }
}
