.side-nav-box > a:nth-child(4) {
  background-color: #0d7c66;
  color: #ebe1f8;
  width: 100%;
  border-radius: 11px;
  padding: 0.4rem;
}

.side-nav-box > a:nth-child(4):hover {
  color: #ebe1f8;
}

.nav-hide .side-nav-box > a:nth-child(4) {
  width: auto;
}

/* SECTION MAIN */
/* ************* */

.section-main {
  padding: 4.8rem;
  flex-direction: column;
  gap: 4.4rem;
}

.heading-box {
  /* display: flex;
  flex-direction: column; */
  gap: 8rem;
  align-items: center;
}

.goals-heading {
  font-size: 3.4rem;
  text-transform: uppercase;
  color: #0d7c66;
}

.balance-box {
  font-size: 2.4rem;
  border: solid 1px #0d7c66;
  padding: 1.6rem;
  border-radius: 1.2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn--goal {
  font-size: 1.6rem;
  letter-spacing: 1px;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border: none;
  margin: 1.6rem auto;
  background-color: #0d7c66;
  color: white;
  border-radius: 11px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  transition: all 0.3s;
}
.btn--goal:hover {
  background-color: white;
  cursor: pointer;
}
#add-goal-icon {
  font-size: 3.8rem;
}
/* GOALS TABLE */
.table-heading {
  margin-bottom: 2rem;
}

.btn-box {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.progress-bar {
  width: 10rem;
  height: 2rem;
  background-color: #e7f2f0;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.progress-fill {
  height: 100%;
  background: #0d7c66;
  transition: width 0.4s ease;
}

.progress-text {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.delete--icon {
  color: #d62828;
  font-size: 2.5rem;
  transition: all 0.3s;
}

.edit--icon {
  color: #003049;
  font-size: 2.5rem;
  transition: all 0.3s;
}

.contribution--icon {
  color: #0d7c66;
  font-size: 2.5rem;
  transition: all 0.3s;
}

.modal-header .contribution--icon {
  color: #ebe1f8;
}
.contribution--icon:hover,
.contribution--icon:active,
.edit--icon:hover,
.edit--icon:active,
.delete--icon:hover,
.delete--icon:active {
  transform: scale(1.1);
}

#modal-edit-contribution,
#modal-add-contribution,
#modal-edit-goal {
  display: none;
}
