.nav-box:first-child {
  background-color: #0d7c66;
  color: #ebe1f8;
  width: 100%;
  border-radius: 11px;
  padding: 0.4rem;
}

.nav-box:first-child:hover {
  color: #ebe1f8;
}

.nav-hide .nav-box:first-child {
  width: auto;
}
/* ===========================
  BALANCE SECTION
=========================== */

.balance-box {
  font-size: 2.4rem;
  border: solid 1px #0d7c66;
  padding: 1.6rem;
  border-radius: 1.2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin-top: 10rem;
}

.mini-stats {
  font-size: 14px;
  color: #6c6279;
  margin-top: 1rem;
}

/* ===========================
  GOALS SECTION
=========================== */
.goals-section {
  padding: 10rem 5rem;
}

.goal-cards-box.grid-cols-4 {
  gap: 1rem;
}

/* ===========================
  GOAL CARD
=========================== */
.goal-card {
  background: #f7f3fc;
  padding: 3.2rem 1.8rem;
  border-radius: 1.6rem;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  width: 27rem;
  height: 35rem;
  position: relative;
}

.goal-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.goal-title,
.goal-card h3 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: 700;
}

.stats-box {
  gap: 1.2rem;
  justify-content: flex-start;
  margin-top: 2.4rem;
  padding: 0.8rem;
}
.stats-box p {
  font-weight: bold;
}

.goal-achieved-box {
  color: #f7f3fc;
  background: #6c6279;
  padding: 0.8rem;
  width: 100%;
  font-weight: 500;
  margin-top: 2.4rem;
  position: absolute;
  left: -0.1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* PROGRESS */
.progress-box {
  flex-direction: column;
}

.progress-bar {
  width: 10rem;
  height: 3.2rem;
  background-color: #e7f2f0;
  border-radius: 99rem;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.progress-fill {
  height: 100%;
  background: #0d7c66;
  transition: width 0.4s ease;
}

.progress-text {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

/* TEXT */
.progress-text {
  font-size: 1.4rem;
  margin: 0px 0.8rem;
}

.goal-data-box {
  gap: 1.2rem;
  padding-top: 24px;
  padding-bottom: 24px;
}

.amount,
.deadline {
  font-size: 14px;
  color: #6c6279;
}

/* ===========================
  TRANSACTION SECTION
=========================== */
.transaction-section {
  padding: 10rem 5rem 20rem 5rem;
  background: #f7f3fc;
}

.contributions-box,
.expenses-box,
.incomes-box {
  border-radius: 16px;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  padding: 1.6rem;
}

.box-header {
  margin-bottom: 2rem;
}

.transaction-item {
  padding: 1rem 0;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.transaction-item:last-child {
  border-bottom: none;
}

.transaction-category {
  font-weight: 500;
}

.transaction-date {
  font-size: 1.2rem;
  color: #777;
}

.transaction-amount.negative {
  color: red;
  font-weight: 600;
}

.transaction-amount.positive {
  color: green;
  font-weight: 600;
}

/* ===========================
  MEDIA
=========================== */

@media (max-width: 1024px) {
  .goal-cards-box.grid-cols-4 {
    grid-template-columns: repeat(3, 1fr);
  }
  .goal-card {
    margin-top: 2.4rem;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 430px) {
  .goal-cards-box.grid-cols-4 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }
  .goal-card {
    width: 34rem;
    height: 40rem;
  }

  .transactions-cards {
    display: flex;
    flex-direction: column;
  }
}
/* --- 01 TYPOGRAPHY SYSTEM
- Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 Whitespace
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
