.nav-box:first-child {
  background-color: #0d7c66;
  color: #ebe1f8;
  width: 100%;
  border-radius: 11px;
  padding: 0.4rem;
}

.nav-box:first-child:hover {
  color: #ebe1f8;
}

.nav-hide .nav-box:first-child {
  width: auto;
}

/* SECTION MAIN */
/* ************* */
.section-main {
  padding: 4.8rem;
  flex-direction: column;
}

.incomes-heading {
  font-size: 3.4rem;
  text-transform: uppercase;
  color: #0d7c66;
}

.header-btn--icon {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.header-icon-modal {
  color: #0d7c66;
  font-size: 4rem;
  transition: all 0.3s;
}

.header-icon-modal:hover,
.header-icon-modal:active {
  color: #3d9685;
  transform: scale(1.1);
}
/* TABLE INCOME */
/* ************ */
.td-edit,
.td-delete {
  position: relative;
}

.icon-delete,
.icon-edit {
  position: absolute;
  left: 3rem;
}

.icon-edit {
  color: #f47812f8;
}

.icon-delete {
  color: #f41212;
}
/*  
- Font size system (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 Whitespace

- Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */
